* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.7;
  background: $light-color;
  color: $dark-color;

  &.dark-mode {
    background: $dark-color;
    color: $light-color;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: $darkest-color;

  &.dark-mode {
    color: $lightest-color;
  }
}

a {
  color: $primary-color;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: darken($primary-color, 10%);
    text-decoration: underline;

    &.dark-mode {
      color: $lightest-color;
    }
  }
}

pre {
  background-color: $lightest-color;
  color: $dark-color;
  overflow: auto;

  &.dark-mode {
    background-color: $darkest-color;
    color: $light-color;
  }
}

.content {
  padding: 2rem; // Adjust padding as necessary
  margin-bottom: 2rem;
}

.icon {
  color: $primary-color;
  transition: color 0.3s;

  &:hover {
      color: $secondary-color;
  }
}

.app-header-avatar {
  width: 200px;
  height: 200px; 
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image fits within the circle */
  border: 3px solid #333; /* Optional: Add a border for styling */
}/* Position the hamburger icon on the top-left */
.app-header-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
}

/* Hamburger icon styling */
.menu-icon {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 22px;
  position: relative;

  span {
    background: $primary-color;
    border-radius: 2px;
    display: block;
    height: 3px;
    margin: 5px 0;
    transition: 0.4s;
  }

  &:hover span {
    background: $secondary-color;
  }
}

/* Hide the menu by default */
.nav-menu {
  display: none;
  position: absolute;
  top: 60px;  /* Adjust according to header height */
  left: 1rem;
  background-color: $lightest-color;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;

  a {
    display: block;
    padding: 0.5rem 0;
    color: $dark-color;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }
}

/* Show the menu when the icon is clicked */
.menu-icon.active + .nav-menu {
  display: block;
}
