<article class="post">
  <div class="post-content">
    <ul class="community-list">
      {{ range .Pages }}
        {{ if eq .Type "community" }}
          <li class="community-item">
            <p class="community-item-description">
              I love being part of ✨<b>communities of ideas and practices</b>✨ that help us **grow and learn together**. Here are
              some of the ways I'm involved:</p>
            <p class="community-item-description">
              <b>Team Topologies: </b>I'm proud to be a <a href="https://teamtopologies.com/all-tta/toli-apostolidis">Team Topologies Advocate</a>, helping teams
              understand and apply effective organizational patterns for fast flow.</p>
            <p class="community-item-description">
              <b>Datadog: </b>I'm a <a href="https://www.datadoghq.com/ambassadors/">Datadog Ambassador</a>, promoting best practices in observability and monitoring.</p>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</article>