{{ define "main" }}
{{ partial "breadcrumb.html" . }}
<article class="post">
  <header class="post-header">
  </header>
  <div class="post-content">
    {{ .Content }}
  </div>
</article>

<article>
  <h1>✍️ Recent Blog Posts</h1>
  <ul class="posts-list">
    <!-- Filter pages to only include posts with the "post" content type -->
    {{ range first 5 (where .Site.RegularPages "Type" "post") }} <!-- Adjust the number to display only a few posts -->
      <li class="posts-list-item">
        <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
        <span class="posts-list-item-description">
          {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} {{ .ReadingTime }} min read -
          {{ .PublishDate.Format "Jan 2, 2006" }}
        </span>
      </li>
    {{ end }}
  </ul>

  <!-- Nudge to view all blog posts -->
  <div class="view-all-posts-nudge ">
    <a href="/post/">View All Blog Posts ⏭️</a>
  </div>
</article>

{{ end }}