<!doctype html>
<html lang="en">
<head>
  <title>{{ .Site.Title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Include the main stylesheet -->
  {{ $mainStyle := resources.Get "css/main.scss" | resources.ExecuteAsTemplate "css/main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $mainStyle.Permalink }}" />
</head>
<body>
  <header class="home-header">
    <div class="app-header-right">
      <button class="menu-icon" aria-label="Toggle Menu" title="Toggle Menu">Menu</button>
      <button id="theme-toggle" aria-label="Dark Mode" title="Dark Mode">🌙 Dark</button>
      {{ partial "dark-mode-toggle.html" . }}
    </div>
  </header>
  
  <nav class="nav-menu">
    {{ range .Site.Menus.main.ByWeight }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
  </nav>
  <main class="home-container">
    <h2>{{ .Site.Title }}</h2>
    {{ .Content }}
  </main>
  
  <!-- Include the menu script -->
  {{ partial "menu-script.html" . }}
</body>
</html>
