/* Define variables for reusability and easier maintenance */
$blockquote-border-color: #dfe2e5;
$blockquote-background-color: #f7f8fa;
$blockquote-text-color: #333;
$blockquote-border-color-dark: #333;
$blockquote-background-color-dark: #333;
$blockquote-text-color-dark: #dfe2e5;
$blockquote-padding: 1rem;
$blockquote-margin: 1.5rem 0;
$blockquote-font-style: normal;

/* SCSS Styling for blockquotes */
blockquote {
  border-left: 4px solid $blockquote-border-color;
  background-color: $blockquote-background-color;
  padding: $blockquote-padding;
  margin: $blockquote-margin;
  font-style: $blockquote-font-style;
  color: $blockquote-text-color;
  body.dark-mode & {
    border-left: 4px solid $blockquote-border-color-dark;
    background-color: darken($blockquote-background-color-dark, 5%);
    color: lighten($blockquote-text-color-dark, 10%);
  }

  p {
    margin: 0; /* Remove default paragraph margins */
  }

  /* Additional styling, like handling nested elements within blockquotes */
  a {
    color: $blockquote-text-color;
    text-decoration: underline;

    &:hover {
      color: darken($blockquote-text-color, 10%);
    }
    body.dark-mode & {
      color: $blockquote-text-color-dark;

      &:hover {
        color: lighten($blockquote-text-color-dark, 10%);
      }
    }
  }
}