.community-logo img {
    max-width: 250px; /* Limit the width */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image */
    padding: 1rem 0; /* Add some space around the image */
  }
  