.post-title {
  color: $darkest-color;
  font-family: 'Merriweather', serif; 
  font-size: 2.1rem;
  letter-spacing: -0.02em;
  line-height: 1.4; /* Adjust line height to reduce space between lines */

  body.dark-mode & {
    color: $lightest-color;
  }
}

.post-content {
  pre {
    border-left: 0.4em solid rgba($primary-color, .8);
    padding-left: 1em;
  }

  body.dark-color & {
    pre {
      border-left: 0.4em solid rgba($lightest-color, .8);
    }
  }
}

.post-meta {
  font-size: 0.8em;
}

.post-content a {
  font-weight: 500;
  text-decoration: underline;
  transition: color 0.3s; // Smooth transition for hover effects

  &:hover {
    color: darken($primary-color, 10%); // Darken the color slightly on hover
    text-decoration: underline; // Add underline on hover
  }

  /* Dark mode styling */
  body.dark-mode & {
    color: $light-color; // Adjust color for dark mode

    &:hover {
      color: lighten($light-color, 10%); // Lighten the color slightly on hover in dark mode
    }
  }
}
