.posts-list {
  padding: 0;
}

.posts-list-item {
  list-style: none;
  border-bottom: 1px dashed $darkest-color;  /* Darker border for visibility in light mode */
  padding: 0.4em 0;

  /* Dark Mode Adjustment */
  body.dark-mode & {
    border-bottom: 1px dashed $lightest-color;  /* Lighter border for dark mode */
  }
}

.posts-list-item-description {
  display: block;
  font-size: 0.8em;
}
